@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@700;900&display=swap');

body{
    font-family: 'Orbitron', sans-serif;
    font-family: 'Roboto', sans-serif;
}



.navbarra{
    background-color: #597226;
    /*display: flex;*/
    color: white;
    /* position: fixed; */
    /* z-index: 100; */
    width: 100%;
    /* padding: 10px; */
    /*height: 50px;*/
    /* display: flex;
    justify-content: center; */
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.nav-lista{
    list-style: none;
    display: flex;
    margin: auto;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 0;
}
.nav-lista .search-contenedor{
    margin-left:10px;
    top: 20px;

}
.navegador-item{
    /*margin: 0 10px;*/
    text-decoration: none;
    color: white;

}
.navegador-item img{
    width: 20px;
}

.menu-contenedor{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 10px ;
}
.logo-empresa img{
    width: 50px;
    margin-right:10px;
    /* height: 100px; */
}
.logo-empresa{
    display:flex;
    justify-content: left;
    align-items: center;                                             
    
        
}
/* #search-container{
    display: flex;
    justify-content: start;
    width: 15px;
}  */

.logo-contenedor{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: top;
}
.logo-contenedor:hover{
    cursor: pointer;
}
#brand-name{
    color: whitesmoke;
}
#brand-name:hover{
    cursor: pointer;
}
#connect-button{
    background-color: #3498db; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    margin: none;
    padding: 5px 5px; /*Espacio interno*/

    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    font-size: 14px; /* Tamaño del texto */
}
#connect-button:hover{
    background-color: #2980b9;
}
.menu-icon{
    margin: 10px;
    cursor: pointer;
    filter: grayscale(100%);
    transition:filter 0.3s ease;
}
.menu-icon.active-icon{
    filter: none;
    background-color: black;
}
