/* #search-div{
    margin-right: 21px;
} */

#search-bar{
    border-radius: 12px;
    width: 500px; 
    height: 30px;
    /* width: ; */
    padding: 1%;
    border: none;
    color: white;
    background-color: #222f3e;
    /* margin-left: 100px; */
    /* border: #00b7ff solid 1px; */
}
#search-bar:focus{
    /* border: solid 50px 5% #00b7ff; */
    /* border-radius: 5%; */
    /* border: 1px solid #1670BE; */
    /* box-shadow: 0 0 3px #1670BE; */
    /* outline-offset: 0px; */
    border: #00b7ff solid 1px;
    outline: none;
    
    
}
input{
    color: white;
}