#wallet-info-container{
    width: 500px;
    display: flex;
    justify-content: center;
    align-content: left;
    margin: 20px auto;
    flex-wrap: wrap;
    padding: 5%;
    border-radius: 12px;
    background-color:bisque;
}

#info-wallet #get-info{
    /* width: auto; */
    align-items: left ;
    margin: none;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}